{% for product in products %}
{% load static %}
    <div class="col mb-5">
        <div class="card h-100">
            <!-- Product image-->

            {% if product.get_media %}
                <img class="card-img-top" src="{{ product.get_media.file.url }}" alt="..." />
            {% else %}
                <img class="card-img-top" src="https://cdn.firstcry.com/education/2022/11/06094158/Toy-Names-For-Kids.jpg" alt="..." />
            {% endif %}

            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">{{ Product.title|title }}</h5>
                    <!-- Product price-->
                    ${{ product.last_price.price }}
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                    href="{{ product.get_absolute_url }}">View options</a></div>
            </div>
        </div>
    </div>
{% endfor %}
