{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    Danesh Shop BLog
{% endblock title %}

{% block content %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('{% static 'blog/assets/img/post-bg.jpg' %}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        <h2 class="subheading">{{ post.content|truncatewords:5}}</h2>
                        <span class="meta">
                            Posted by
                            <a href="#!">{{ post.author }}</a>
                            on {{ post.published_at|date:"F d, Y" }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {% include 'blog/components/category.html' with categories=categories %}
                    <p>
                        {{ post.content }}
                    </p>
                </div>
            </div>
        </div>
    </article>

    <div class="container bootstrap snippets bootdey">
		<div class="row">
			<div class="col-md-12">
				<div class="blog-comment">
					<h3 class="text-success">Comments</h3>
					<hr/>
					<ul class="comments">
                        {% for comment in post.comments.all %}
                            <li class="clearfix">
                                {% include 'blog/components/comment.html' with comment=comment %}
                                <ul class="comments">
                                    {% for reply in comment.replies.all %}
                                        <li class="clearfix">
                                            {% include 'blog/components/comment.html' with comment=reply %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
