{% extends 'shop/base.html' %}
{% load static %}
{% load my_tags %}

{% block title %}
    {{ product.title|title}} | DaneShop
{% endblock title %}



{% block content %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8" id="alert">

                </div>
            </div>
        </div>
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">

                    {% if product.get_media %}
                        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                            style="object-fit: cover;"
                            src="{{ product.get_media.file.url }}" alt="..." /></div>
                    {% else %}
                        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                            style="object-fit: cover;"
                            src="https://cdn.firstcry.com/education/2022/11/06094158/Toy-Names-For-Kids.jpg" alt="..." /></div>
                    {% endif %}

                    <div class="col-md-6">
                        <div class="small mb-1">category: {{ product.category }}</div>
                        <h1 class="display-5 fw-bolder">{{ product.title|title}}</h1>
                        <div class="fs-5 mb-5">
                            <span>${{ product.last_price.price}}</span>
                        </div>
                        <p class="lead">{{ product.description|truncatewords:50 }}</p>
                        <form action="" method="POST">
                            <div class="d-flex">
                                {% csrf_token %}
                                <input class="form-control text-center me-3" id="quantity" type="num" value="1" style="max-width: 3rem" />
                                <input id="product_slug" type="hidden" value="{{ product.slug }}"/>

                                <button id="addToCart" class="btn btn-outline-dark flex-shrink-0" type="">
                                    <i class="bi-cart-fill me-1"></i>
                                    Add to cart
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Product Details -->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="table-responsive">
                            <table class="table text-start">
                            <tbody>

                                {% for attr, val in product.attributes.items %}
                                    <tr>
                                        <th scope="row" class="text-start">{{attr}}</th>
                                        <td>
                                            {{ val }}
                                        </td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Related products</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% related_products product.slug product.category.slug %}
                </div>
            </div>
        </section>
{% endblock content %}
